_backup/v1-alpine-2026-05-25/scripts/Template de Disparos (1).json
{
  "name": "Template de Disparos",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        240
      ],
      "id": "bd3b335f-1de8-4d4b-b2d7-cd82da4b280d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api.url }}message/sendText/{{ $json.api.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.api.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.cliente.celular }}"
            },
            {
              "name": "text",
              "value": "=Oi, {{ $json.cliente.nome }}!\n\nComo você já garantiu o seu Mel de Melatonina, liberamos um acesso especial para você.\n\nSabemos que a constância é o segredo para a qualidade do sono a longo prazo. Por isso, queremos te convidar para o nosso Clube de Assinantes. ✨\n\nQuem está no clube nunca fica sem o seu mel, recebe em casa com prioridade e ainda garante condições especiais.\n\nÉ a tranquilidade de saber que sua noite de sono está sempre garantida."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        464
      ],
      "id": "7a0c1b6b-73e7-49ac-902d-f0b015b72965",
      "name": "FUP D1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        688,
        80
      ],
      "id": "21ee7e96-3299-453c-8bd1-5080a8985725",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.cliente.DataCriado.toDateTime().minus(3, 'hour').plus(24, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.cliente.FUP }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        464
      ],
      "id": "6fc57b6b-dac8-4d37-ac3f-2bb395b7a074",
      "name": "1d"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        256
      ],
      "id": "256ec084-eb45-49d1-823d-66724fdbeea8",
      "name": "Wait",
      "webhookId": "9c070e1e-102d-45fc-9fe8-c52e01c63d4e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.cliente.DataCriado.toDateTime().minus(3, 'hour') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.cliente.FUP }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        256
      ],
      "id": "49080d02-76d3-468f-a660-371b9489fd4b",
      "name": "0d"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('30d').item.json.cliente.id }}",
            "FUP": "5"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DataCriado",
              "displayName": "DataCriado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UltimoDisparo",
              "displayName": "UltimoDisparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Respondeu",
              "displayName": "Respondeu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SemResposta",
              "displayName": "SemResposta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2400,
        1120
      ],
      "id": "bc84eaba-e19f-4155-b125-13095fc088db",
      "name": "Update FUP 5",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.cliente.DataCriado.toDateTime().minus(3, 'hour').plus(720, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.cliente.FUP }}",
              "rightValue": "4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        1088
      ],
      "id": "1eb6431c-57fd-449e-83dc-50f0ff127b1a",
      "name": "30d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api.url }}message/sendText/{{ $json.api.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.api.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.cliente.celular }}"
            },
            {
              "name": "text",
              "value": "=Olá, {{ $json.cliente.nome }}!\n\nO tempo voa quando a gente dorme bem, não é? Já faz quase um mês desde a sua compra e imagino que o seu potinho do Melzinho do Sono esteja chegando ao fim (ou já acabou!).\n\nPara você não interromper esse ciclo de noites bem dormidas, vim te lembrar do nosso Clube de Assinantes.\n\nAlém de não precisar se preocupar em refazer o pedido todo mês, você entra para o nosso grupo VIP."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        1088
      ],
      "id": "74fe25d5-4890-47c6-8b84-cdde32736f35",
      "name": "FUP D30"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.cliente.DataCriado.toDateTime().minus(3, 'hour').plus(360, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.cliente.FUP }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        880
      ],
      "id": "8cc9fbb9-2038-4d38-b4d8-a3c1e1feae85",
      "name": "15d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.cliente.DataCriado.toDateTime().minus(3, 'hour').plus(240, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.cliente.FUP }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        672
      ],
      "id": "c04bb1c2-2b4a-4aeb-863b-2e68f77fd265",
      "name": "10d"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('15d').item.json.cliente.id }}",
            "FUP": "4"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DataCriado",
              "displayName": "DataCriado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UltimoDisparo",
              "displayName": "UltimoDisparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Respondeu",
              "displayName": "Respondeu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SemResposta",
              "displayName": "SemResposta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2176,
        896
      ],
      "id": "8ed05fad-ec5e-4c0f-b685-bc148177f5a5",
      "name": "Update FUP 4",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('10d').item.json.cliente.id }}",
            "FUP": "3"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DataCriado",
              "displayName": "DataCriado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UltimoDisparo",
              "displayName": "UltimoDisparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Respondeu",
              "displayName": "Respondeu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SemResposta",
              "displayName": "SemResposta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1920,
        688
      ],
      "id": "74cf2cf9-acc7-43f0-bf82-ef29094f6008",
      "name": "Update FUP 3",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api.url }}message/sendText/{{ $json.api.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.api.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.cliente.celular }}"
            },
            {
              "name": "text",
              "value": "=Oi, {{ $json.cliente.nome }}!\n\nJá fazem duas semanas desde a sua compra e eu estou curioso(a): como estão as suas noites?\n\nVocê tem sentido a diferença na qualidade do seu sono com o nosso mel? Acordando mais disposto(a)?\n\nAdoraríamos ouvir o seu relato! Se puder, conta pra gente o que está achando. Pode ser respondendo aqui por texto, ou se preferir, mande um áudio ou vídeo. 📹🎙️\n\nO seu feedback ajuda outras pessoas a descobrirem o poder de um sono reparador.\nFicamos no aguardo! ✨\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        880
      ],
      "id": "e151d41f-c3d9-4c24-a082-6402639662a8",
      "name": "FUP D15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api.url }}message/sendText/{{ $json.api.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.api.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.cliente.celular }}"
            },
            {
              "name": "text",
              "value": "=Olá, {{ $json.cliente.nome }}!\n\nPassando aqui rapidinho para saber: o seu Melzinho do Sono chegou bem? 🐝\n\nQueremos saber como foi a sua experiência com a entrega e aquele momento de abrir a caixinha (o unboxing). Foi tudo como você esperava?\n\nAbraços e bons sonhos!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        672
      ],
      "id": "7406d1d1-e7a4-4c9d-bdc0-412bbbd965c3",
      "name": "FUP D10"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('1d').item.json.cliente.id }}",
            "FUP": "2"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DataCriado",
              "displayName": "DataCriado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UltimoDisparo",
              "displayName": "UltimoDisparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Respondeu",
              "displayName": "Respondeu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SemResposta",
              "displayName": "SemResposta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1680,
        480
      ],
      "id": "3a6e7467-6ed0-4fea-b2d1-3c2c401a36f6",
      "name": "Update FUP 2",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.cliente.id }}",
            "FUP": "1"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DataCriado",
              "displayName": "DataCriado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UltimoDisparo",
              "displayName": "UltimoDisparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Respondeu",
              "displayName": "Respondeu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SemResposta",
              "displayName": "SemResposta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1200,
        240
      ],
      "id": "4cab2c0e-fe42-41f7-bb8e-6679daa40105",
      "name": "Update FUP 1",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_disparo').item.json.api.url }}message/sendText/{{ $('dados_disparo').item.json.api.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_disparo').item.json.api.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('dados_disparo').item.json.cliente.celular }}"
            },
            {
              "name": "text",
              "value": "=Olá, {{ $('dados_disparo').item.json.cliente.nome.split(' ')[0] }}! Tudo bem?\n\nParabéns pela compra! Estamos muito felizes que você escolheu o nosso Melzinho do Sono para transformar as suas noites. Seu pedido #{{ $('dados_disparo').item.json.pedido.numero }} já foi confirmado e estamos preparando tudo com muito carinho para o envio. 🍯\n\nEnquanto seu \"Ritual Noturno\" não chega, gravei um vídeo especial para te dar as boas-vindas e explicar exatamente a melhor forma de usar nosso mel para garantir aquele descanso merecido.\n\n👇 Dê o play e confira:\n\nQualquer dúvida, estamos por aqui. Prepare-se para dormir como nunca! 💤"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        32
      ],
      "id": "a0521932-a698-4969-b162-751d2615e2ad",
      "name": "FUP D"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-video",
        "instanceName": "meltonina",
        "remoteJid": "={{ $json.key.remoteJid.split('@')[0] }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1408,
        32
      ],
      "id": "9ca5f752-6a6f-452d-9d12-565a95f32f68",
      "name": "Enviar video",
      "credentials": {
        "evolutionApi": {
          "id": "lyHWafXaiORkYYtW",
          "name": "Meltonina"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_disparo').item.json.api.url }}message/sendText/{{ $('dados_disparo').item.json.api.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_disparo').item.json.api.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "558592333071@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "=Pedido #{{ $('dados_disparo').item.json.pedido.numero }} já foi confirmado\n\nVenda realizada para {{ $('dados_disparo').item.json.cliente.nome }}! ✔️\nTelefone: {{ $('dados_disparo').item.json.cliente.celular.split('@')[0] }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        32
      ],
      "id": "fac593f3-8d1e-4ff7-8603-04585bd8bfe7",
      "name": "FUP D0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "155b2f50-2897-4d4f-b3f3-4cefefceb34a",
              "name": "pedido.numero",
              "value": "={{ $json.pedido.numero }}",
              "type": "number"
            },
            {
              "id": "f2773129-7111-470e-9836-c81cc9411b64",
              "name": "cliente.id",
              "value": "={{ $json.cliente.id }}",
              "type": "string"
            },
            {
              "id": "c31347bc-bf14-43fe-a7df-cedc628d7605",
              "name": "cliente.DataCriado",
              "value": "={{ $json.cliente.DataCriado }}",
              "type": "string"
            },
            {
              "id": "1e1b5bb2-f9ab-48ba-850a-0f219b1b1a29",
              "name": "cliente.nome",
              "value": "={{ $json.cliente.nome }}",
              "type": "string"
            },
            {
              "id": "4e6d3db2-3f9e-49f4-b715-2339b8acaafe",
              "name": "cliente.celular",
              "value": "={{ $json.cliente.celular }}",
              "type": "string"
            },
            {
              "id": "da5f457b-07f5-47e5-99f3-4e3905f159fd",
              "name": "cliente.FUP",
              "value": "={{ $json.cliente.FUP }}",
              "type": "string"
            },
            {
              "id": "332f225e-a799-4228-8b2f-1efb45c8de4b",
              "name": "api.url",
              "value": "={{ $json.api.url }}",
              "type": "string"
            },
            {
              "id": "007ec2cc-72c8-4da3-9b0e-88111f57233c",
              "name": "api.instance",
              "value": "={{ $json.api.instance }}",
              "type": "string"
            },
            {
              "id": "c997a775-434d-4409-9801-7c8e5893f29f",
              "name": "api.apikey",
              "value": "={{ $json.api.apikey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        240
      ],
      "id": "6d403ec8-4d0a-474a-ae80-6334ee1a79a2",
      "name": "dados_disparo"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D1": {
      "main": [
        [
          {
            "node": "Update FUP 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1d": {
      "main": [
        [
          {
            "node": "FUP D1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "0d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0d": {
      "main": [
        [
          {
            "node": "Update FUP 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "FUP D",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30d": {
      "main": [
        [
          {
            "node": "FUP D30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D30": {
      "main": [
        [
          {
            "node": "Update FUP 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15d": {
      "main": [
        [
          {
            "node": "FUP D15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10d": {
      "main": [
        [
          {
            "node": "FUP D10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 4": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D15": {
      "main": [
        [
          {
            "node": "Update FUP 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D10": {
      "main": [
        [
          {
            "node": "Update FUP 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D": {
      "main": [
        [
          {
            "node": "Enviar video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar video": {
      "main": [
        [
          {
            "node": "FUP D0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_disparo": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0d715a7-4da1-4755-afcc-5c06b63fe96d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "803c0ca4e7f9d14e44d80db31eb5701b5da3d5bfde7c4bfbf79bcd0d279a9f40"
  },
  "id": "LmUoXxEaUZL4L9Rl",
  "tags": []
}