scripts/Template Prospecção (1) (1).json
{
  "name": "Template Prospecção",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa32d6ac-31a4-422f-a5cd-9ac533f4bb45",
                    "leftValue": "={{ $json['Etapa FUP'] }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disparo 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Etapa FUP'] }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5c6ef1c-ac64-4956-8b8d-734f95542098"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disparo 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a654e02-3464-4cdc-9b13-df4f66b204b1",
                    "leftValue": "={{ $json['Etapa FUP'] }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disparo 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd0a5e6d-22bc-4a4a-88cd-0d18cd94faeb",
                    "leftValue": "={{ $json['Etapa FUP'] }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disparo 4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a079b1d6-c06a-435f-b943-b64bcae2ed44",
                    "leftValue": "={{ $json['Etapa FUP'] }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Encerrou"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        48
      ],
      "id": "fc31b011-8f4a-44fa-a0db-e00cd4e73371",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        -160
      ],
      "id": "04bfb78a-ee02-46da-b410-007855ef231c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2aaa789e-4d90-420c-94c6-2a095cd761c2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "78e5a79f-d8ff-4726-99ef-23af0e6de15b",
              "name": "nome",
              "value": "={{ $json.Nome.split(' ')[0] }}{{ \" \" + $json.Sobrenome.split(' ').last() }}",
              "type": "string"
            },
            {
              "id": "ffcc7d72-d709-4e61-9c93-9918ed47ce67",
              "name": "telefone",
              "value": "={{ $json.Telefone.toString().replace(/^(55\\d{2})9/, '$1') }}@s.whatsapp.net",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -144
      ],
      "id": "d3c621d3-7664-461d-8531-6f1f9a236de8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        -144
      ],
      "id": "c6988d0d-093c-49c0-a6fa-18be11b50c76",
      "name": "Wait",
      "webhookId": "05a73bd8-647b-4889-89e1-0b72031de772"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -496,
        96
      ],
      "id": "e48b1f41-c745-4fb7-aa88-7978472a07c2",
      "name": "Search records",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Edit Fields').item.json.telefone.split('@')[0].toString().replace(/^(55\\d{2})/, '$19') }}",
            "Etapa FUP": "1",
            "Ultimo Disparo": "={{ $now }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sobrenome",
              "displayName": "Sobrenome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa FUP",
              "displayName": "Etapa FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultimo Disparo",
              "displayName": "Ultimo Disparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1280,
        -144
      ],
      "id": "78e96d33-97d0-4895-9807-86c642caf16c",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Dr(a). {{ $('Edit Fields').item.json.nome }}, tudo bem?\nAqui é o André, especialista em inovação médica, do time do Dr. João José.\nNo dia 29 de novembro, 08:00–18:00, no Hotel Luzeiros (Fortaleza), teremos o Workshop Inteligência Artificial: Experiências Interativas — imersão hands‑on (traga seu notebook).\nA proposta é dar autonomia em IA para otimizar a rotina clínica: criar prompts eficazes, interagir com textos/documentos/imagens, automatizar escalas e resumos de consulta."
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -144
      ],
      "id": "eaa04899-b115-4085-b8ef-24f8f2ef489f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1024,
        96
      ],
      "id": "1e93d72f-097c-4ebe-8a89-3ae30c637402",
      "name": "Schedule Trigger",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const tempoMin = 3;\nconst tempoMax = 10;\n\nif (isNaN(tempoMin) || isNaN(tempoMax) || tempoMin > tempoMax) {\n  throw new Error('Preencha os campos de tempo corretamente!');\n}\n\nconst delay = Math.floor(Math.random() * (tempoMax - tempoMin + 1)) + tempoMin;\n\n// Retorne o resultado como um array de objetos\nreturn [\n  {\n    json: {\n      delay\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -144
      ],
      "id": "cddc15cd-9647-4125-92db-0d36fa655ca2",
      "name": "randomTime",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        96
      ],
      "id": "78602d09-02ab-46a8-9bb1-2c00fec55043",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2aaa789e-4d90-420c-94c6-2a095cd761c2",
              "name": "id",
              "value": "={{ $item(\"0\").$node[\"Loop Over Items1\"].json[\"id\"] }}",
              "type": "string"
            },
            {
              "id": "78e5a79f-d8ff-4726-99ef-23af0e6de15b",
              "name": "nome",
              "value": "={{ $json.Nome.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "ffcc7d72-d709-4e61-9c93-9918ed47ce67",
              "name": "telefone",
              "value": "={{ $json.Telefone }}@s.whatsapp.net",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        112
      ],
      "id": "b55a64ee-c927-4f8d-9eb6-89093b29fed6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2032,
        112
      ],
      "id": "92f8a955-04b4-4bc2-8c7e-be1469f798b2",
      "name": "Wait2",
      "webhookId": "4a737338-a0f5-4b3a-b7d4-110ae13fe1dd"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Edit Fields1').item.json.telefone.split('@')[0] }}",
            "Etapa FUP": "2",
            "Ultimo Disparo": "={{ $now }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sobrenome",
              "displayName": "Sobrenome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa FUP",
              "displayName": "Etapa FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultimo Disparo",
              "displayName": "Ultimo Disparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1648,
        112
      ],
      "id": "0b220371-b4ce-45fe-9201-2563d8fe9b0e",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tempoMin = 3;\nconst tempoMax = 10;\n\nif (isNaN(tempoMin) || isNaN(tempoMax) || tempoMin > tempoMax) {\n  throw new Error('Preencha os campos de tempo corretamente!');\n}\n\nconst delay = Math.floor(Math.random() * (tempoMax - tempoMin + 1)) + tempoMin;\n\n// Retorne o resultado como um array de objetos\nreturn [\n  {\n    json: {\n      delay\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        112
      ],
      "id": "efc0e8d1-c44d-45ef-af2b-a16febb3e86e",
      "name": "randomTime1",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        368
      ],
      "id": "e079d55c-d86e-40ea-9e6d-2b5e5d9c5fb6",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2aaa789e-4d90-420c-94c6-2a095cd761c2",
              "name": "id",
              "value": "={{ $item(\"0\").$node[\"Loop Over Items2\"].json[\"id\"] }}",
              "type": "string"
            },
            {
              "id": "78e5a79f-d8ff-4726-99ef-23af0e6de15b",
              "name": "nome",
              "value": "={{ $json.Nome.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "ffcc7d72-d709-4e61-9c93-9918ed47ce67",
              "name": "telefone",
              "value": "={{ $json.Telefone.toString().replace(/^55(\\d{2})9/, '55$1') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "01081716-65ab-4006-b353-fa1e8c9e8d6c",
              "name": "ultimo_disparo",
              "value": "={{ $json['Ultimo Disparo'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        384
      ],
      "id": "0a1a7bdf-566a-48e4-a8f9-b2a75a12d41b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        384
      ],
      "id": "56a3b446-fa2f-4455-9043-456a4b1eb14a",
      "name": "Wait3",
      "webhookId": "53fcad29-4991-48f0-8dd9-ed5eceb8ef15"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Edit Fields2').item.json.telefone.split('@')[0].replace(/^55(\\d{2})(\\d{8})$/, '55$19$2') }}",
            "Etapa FUP": "3",
            "Ultimo Disparo": "={{ $now }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sobrenome",
              "displayName": "Sobrenome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa FUP",
              "displayName": "Etapa FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultimo Disparo",
              "displayName": "Ultimo Disparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1280,
        384
      ],
      "id": "ec92732e-08a7-465c-9438-8e5be17e0ad7",
      "name": "Update record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tempoMin = 3;\nconst tempoMax = 10;\n\nif (isNaN(tempoMin) || isNaN(tempoMax) || tempoMin > tempoMax) {\n  throw new Error('Preencha os campos de tempo corretamente!');\n}\n\nconst delay = Math.floor(Math.random() * (tempoMax - tempoMin + 1)) + tempoMin;\n\n// Retorne o resultado como um array de objetos\nreturn [\n  {\n    json: {\n      delay\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        384
      ],
      "id": "3f16af5e-6a8c-4905-bbdf-1f41decf0b39",
      "name": "randomTime2",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "195509d0-6a31-4dc8-bc8e-80cc656a8652",
              "leftValue": "={{ $json['Ultimo Disparo'] }}",
              "rightValue": "={{ DateTime.now().minus({ days: 3 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        112
      ],
      "id": "cc93af68-88cb-4c86-bb33-da91d08b1f14",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "195509d0-6a31-4dc8-bc8e-80cc656a8652",
              "leftValue": "={{ $json['Ultimo Disparo'] }}",
              "rightValue": "={{ DateTime.now().minus({ days: 3 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        384
      ],
      "id": "d0b9dafe-af2b-4980-bb44-b4613574d43f",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Faz sentido explorar como isso pode liberar tempo na sua agenda e aumentar a assertividade diagnóstica? Posso te mandar a programação e as opções de ingresso (Standard/VIP)?"
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -144
      ],
      "id": "ee163987-c285-42b9-971e-e0c10473dd24",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5900cf6-d9d1-4730-a4b6-d327c41ad822",
              "name": "instance_server_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "a3a1c125-4383-4838-b3cf-d633d6578d4d",
              "name": "instance_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "e4039a05-3355-4e36-933f-9473e0a7b0a1",
              "name": "instance_apikey",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        96
      ],
      "id": "273a87be-be16-48c5-9d0e-4a855f3e2a5c",
      "name": "dados_evolution_api"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        -144
      ],
      "id": "956c527a-4feb-4be5-bf6d-cb45623c7c58",
      "name": "Wait4",
      "webhookId": "001ef0f7-eed7-4d30-8860-8a5983dd94d1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Dr(a). {{ $json.nome }}, passando pra retomar o convite do Workshop de IA do Dr. João no dia 29 de novembro no Luzeiros."
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        112
      ],
      "id": "d80920eb-7a21-4269-bdaa-ce76b045489c",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Em 1 dia de imersão hands‑on você domina prompts e integra IA à sua rotina: transcrever e resumir consultas, automatizar escalas, criar planilhas inteligentes."
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        112
      ],
      "id": "f78b7e98-39dd-4d86-bd37-1d7bca5a38ba",
      "name": "HTTP Request4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        112
      ],
      "id": "d6a5a74b-605a-4e8a-a5df-f1b117d9bc79",
      "name": "Wait5",
      "webhookId": "6c45295a-9e83-40e3-a914-d8def40707c6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Quer que eu te detalhe as opções de ingresso — Standard (R$ 1.500) ou o VIP (R$ 2.000) com almoço exclusivo com o Dr. João?"
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields1').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        112
      ],
      "id": "ed4469a7-3bee-424e-abc7-63cce102362a",
      "name": "HTTP Request5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        112
      ],
      "id": "430797cb-874e-4635-bfb1-32a662048e22",
      "name": "Wait6",
      "webhookId": "83877439-a0ca-464f-8d4c-2344fe9b0490"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Dr(a). {{ $json.nome }}, chegou a ver o que te enviei sobre o Workshop de IA do dia 29 de novembro?"
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields2').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        384
      ],
      "id": "630603a5-9561-4fb7-8fd8-d3ba9837b402",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Se fizer sentido, te mando um resumo em 1 min."
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields2').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        384
      ],
      "id": "f559f256-20c1-4198-a3c4-50468d390a5d",
      "name": "HTTP Request7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        384
      ],
      "id": "1fb3c31b-c5e4-4f40-88e2-1104211dc6e9",
      "name": "Wait7",
      "webhookId": "37b109e2-b453-426c-b06d-c07d651becdd"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        800
      ],
      "id": "ab3ca42b-0336-4933-a18e-f1d7e5077ad3",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2aaa789e-4d90-420c-94c6-2a095cd761c2",
              "name": "id",
              "value": "={{ $item(\"0\").$node[\"Loop Over Items3\"].json[\"id\"] }}",
              "type": "string"
            },
            {
              "id": "78e5a79f-d8ff-4726-99ef-23af0e6de15b",
              "name": "nome",
              "value": "={{ $json.Nome.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "ffcc7d72-d709-4e61-9c93-9918ed47ce67",
              "name": "telefone",
              "value": "={{ $json.Telefone.toString().replace(/^55(\\d{2})9/, '55$1') }}@s.whatsapp.net",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        816
      ],
      "id": "9872b64c-8fc0-49cf-9baf-87fb30c689ad",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        816
      ],
      "id": "bbb10053-006d-47de-904f-b0ed047448dc",
      "name": "Wait8",
      "webhookId": "92c71054-2d36-46b6-9501-4fe0120b6407"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Edit Fields3').item.json.telefone.split('@')[0].replace(/^55(\\d{2})(\\d{8})$/, '55$19$2') }}",
            "Etapa FUP": "4",
            "Ultimo Disparo": "={{ $now }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sobrenome",
              "displayName": "Sobrenome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa FUP",
              "displayName": "Etapa FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultimo Disparo",
              "displayName": "Ultimo Disparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead?",
              "displayName": "Lead?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1280,
        816
      ],
      "id": "07b0e4fe-a2ca-4e61-91ba-98e20241cb16",
      "name": "Update record3",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tempoMin = 3;\nconst tempoMax = 10;\n\nif (isNaN(tempoMin) || isNaN(tempoMax) || tempoMin > tempoMax) {\n  throw new Error('Preencha os campos de tempo corretamente!');\n}\n\nconst delay = Math.floor(Math.random() * (tempoMax - tempoMin + 1)) + tempoMin;\n\n// Retorne o resultado como um array de objetos\nreturn [\n  {\n    json: {\n      delay\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        816
      ],
      "id": "5ac0be7e-227f-4e57-8f1a-9ffd15d44d60",
      "name": "randomTime3",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "195509d0-6a31-4dc8-bc8e-80cc656a8652",
              "leftValue": "={{ $json['Ultimo Disparo'] }}",
              "rightValue": "={{ DateTime.now().minus({ days: 3 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        816
      ],
      "id": "f9470aa9-4729-4659-9195-c3e3fa4c8aef",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_evolution_api').item.json.instance_server_url }}/message/sendText/{{ $('dados_evolution_api').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_evolution_api').item.json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=IA e Medicina: A Conversa que Todo Médico Precisa Ouvir, com Dr. João José de Carvalho\n\nUm neurologista. Um programador. Um dos primeiros médicos do Ceará a unir IA e prática clínica.\nNeste episódio de lançamento do Brain Med Talks, o Dr. João José Carvalho, Doutor em neurologia pela UNIFESP e certificado em IA pelo MIT, explica de forma simples e profunda:\n\n• O que realmente é Inteligência Artificial na medicina\n• Como estruturar prompts clínicos de forma segura\n• Como usar IA no consultório, na pesquisa e no ensino\n• Quais habilidades vão definir o médico dos próximos 5 anos.\n\n\nUma conversa direta, técnica e inspiradora.\n\nPara médicos que querem dominar a nova linguagem da medicina moderna.\n\n📹 ASSISTA NO YOUTUBE\nhttps://youtu.be/iwjBuxdGLmI?si=B4xO2_RMUlDtDamF\n\n🎧 OUÇA NO SPOTIFY\nhttps://open.spotify.com/episode/5sCTy4G9Gua3gtIIpqNrr5?si=HgBIThtMSI6DZnQ6IXTPoQ&pi=YUtgMw7PRu-sz&t=0 "
            },
            {
              "name": "number",
              "value": "={{ $('Edit Fields3').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        816
      ],
      "id": "0b58759e-1398-4eaa-a76c-2c50d383c1b0",
      "name": "HTTP Request10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        816
      ],
      "id": "a3f02000-987c-48e5-a1ae-d7c2b192b704",
      "name": "Wait10",
      "webhookId": "c08c19da-ebb9-46cd-a4f5-b96cb303fc00"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        1136
      ],
      "id": "001118c6-656c-4343-a79c-dd027cf3a568",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "brainmed",
        "remoteJid": "={{ $json.telefone }}",
        "media": "=https://drive.google.com/uc?export=view&id=1B0YQOyXnWZiplVs9ooZfZ7s08OT7mtpS",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        512,
        -144
      ],
      "id": "e1d7bb16-c3b9-4a95-83ef-6ebc06ca33d5",
      "name": "Enviar imagem",
      "credentials": {
        "evolutionApi": {
          "id": "dDMuRbbD4rTNnMJa",
          "name": "Evolution - Ives"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Edit Fields').item.json.telefone.split('@')[0].toString().replace(/^(55\\d{2})/, '$19') }}",
            "Descarte": true
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sobrenome",
              "displayName": "Sobrenome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descarte",
              "displayName": "Descarte",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa FUP",
              "displayName": "Etapa FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ultimo Disparo",
              "displayName": "Ultimo Disparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead?",
              "displayName": "Lead?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Desinteresse",
              "displayName": "Desinteresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        512,
        -384
      ],
      "id": "97d4fc4f-44d8-4e17-a15a-b4cc792150f9",
      "name": "Update record4",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "brainmed",
        "remoteJid": "={{ $json.telefone }}",
        "media": "=https://kwusosmkgibbzwnejqhy.supabase.co/storage/v1/object/public/wpp-images/brainmed-talks.png",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        720,
        816
      ],
      "id": "9005ca91-f0b0-45b9-ba57-9df3cbd397ab",
      "name": "Enviar imagem1",
      "credentials": {
        "evolutionApi": {
          "id": "dDMuRbbD4rTNnMJa",
          "name": "Evolution - Ives"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Edit Fields').item.json.telefone.split('@')[0].toString().replace(/^(55\\d{2})/, '$19') }}",
            "Descarte": true
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sobrenome",
              "displayName": "Sobrenome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Descarte",
              "displayName": "Descarte",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa FUP",
              "displayName": "Etapa FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ultimo Disparo",
              "displayName": "Ultimo Disparo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead?",
              "displayName": "Lead?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Desinteresse",
              "displayName": "Desinteresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        576
      ],
      "id": "9ffb9235-30c3-4d83-90dd-5c43013a0c45",
      "name": "Update record5",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "randomTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "dados_evolution_api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "randomTime": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record1": {
      "main": [
        [
          {
            "node": "randomTime1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "randomTime1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record2": {
      "main": [
        [
          {
            "node": "randomTime2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "randomTime2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_evolution_api": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Update record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Enviar imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record3": {
      "main": [
        [
          {
            "node": "randomTime3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "randomTime3": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Update record3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem1": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record5": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c1e21d1-f20d-445d-93de-a8afbaea71bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "803c0ca4e7f9d14e44d80db31eb5701b5da3d5bfde7c4bfbf79bcd0d279a9f40"
  },
  "id": "eSJexrWxeux2KvbK",
  "tags": [
    {
      "createdAt": "2025-07-29T01:30:38.686Z",
      "updatedAt": "2025-07-29T01:30:38.686Z",
      "id": "XRzTzm9dnb1iYEWq",
      "name": "BF Convert"
    },
    {
      "createdAt": "2025-07-29T01:30:38.691Z",
      "updatedAt": "2025-07-29T01:30:38.691Z",
      "id": "TiUUQb0KwzVeblmV",
      "name": "Agente AI"
    }
  ]
}