scripts/Template FUP (1).json
{
  "name": "Template FUP",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        464
      ],
      "id": "85c435b9-3dd1-4673-af8f-c7714b2858cd",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tbllVA04PsvXmX5qT",
          "mode": "list",
          "cachedResultName": "Luana Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tbllVA04PsvXmX5qT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('1d').item.json.id }}",
            "FUP": "2",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2672,
        1008
      ],
      "id": "1b99d70f-d08c-448b-bb33-c3f33d04ee81",
      "name": "Update FUP 1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tbllVA04PsvXmX5qT",
          "mode": "list",
          "cachedResultName": "Luana Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tbllVA04PsvXmX5qT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('3d').item.json.id }}",
            "FUP": "3",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2928,
        1504
      ],
      "id": "17a841f5-287d-4aff-b419-d926639352e8",
      "name": "Update FUP 2",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tbllVA04PsvXmX5qT",
          "mode": "list",
          "cachedResultName": "Luana Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tbllVA04PsvXmX5qT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('7d').item.json.id }}",
            "FUP": "4",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3168,
        1984
      ],
      "id": "9b8841cb-d901-4478-bed6-47fc8418cbb1",
      "name": "Update FUP 3",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tbllVA04PsvXmX5qT",
          "mode": "list",
          "cachedResultName": "Luana Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tbllVA04PsvXmX5qT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('15d').item.json.id }}",
            "FUP": "5",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3392,
        2432
      ],
      "id": "de54cb11-85ac-4784-9dc5-8ca422485020",
      "name": "Update FUP 4",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(24, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        992
      ],
      "id": "5b40e298-c932-4743-a37d-78555847c659",
      "name": "1d",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(48, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1952,
        1488
      ],
      "id": "cbcd48a5-74a0-4fa7-a9ea-8761e1fc04aa",
      "name": "3d",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(96, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2416,
        1968
      ],
      "id": "5d250013-de85-4bc5-a012-438462ee9011",
      "name": "7d",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(192, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2688,
        2448
      ],
      "id": "2d0e0eac-4aa1-41cf-a713-8cc40ea76de0",
      "name": "15d",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        480
      ],
      "id": "07806a3e-8433-4d9a-ab36-1da1f39d4ca8",
      "name": "Wait",
      "webhookId": "a51da49f-6208-4d60-8770-7599d5b915cc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8482afbe-06db-4b98-a2a1-d6e4916567e7",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7b4a2098-e12e-4c05-834e-e5c5916e2705",
              "name": "Nome",
              "value": "={{ $json[\"Contato principal\"] }}",
              "type": "string"
            },
            {
              "id": "c663319c-f73c-45c2-add5-c492f31bdbbd",
              "name": "Telefone",
              "value": "={{ $json[\"Telefone comercial (contato)\"].toString().replace(/\\D/g, '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "379d24c3-5cc5-4c8f-9c63-0c90f2603c36",
              "name": "Etapa",
              "value": "={{ $json[\"Etapa do lead\"] }}",
              "type": "string"
            },
            {
              "id": "5d76d2cc-f17e-46bc-8ef8-c900a72e85b0",
              "name": "FUP",
              "value": "={{ $json.FUP }}",
              "type": "string"
            },
            {
              "id": "f3fef69c-3a23-4559-a84c-909cd6daceeb",
              "name": "Ultima Interacao",
              "value": "={{ $json[\"Ultima Interacao\"] }}",
              "type": "string"
            },
            {
              "id": "02bcb4cc-bae2-41cb-b085-3bbb68774c00",
              "name": "url",
              "value": "",
              "type": "string"
            },
            {
              "id": "50a3338b-f6d5-4ea4-8b51-00f46991430e",
              "name": "instance",
              "value": "",
              "type": "string"
            },
            {
              "id": "72d9a17f-a161-49b4-b0f7-29b6ede4d420",
              "name": "apikey",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        480
      ],
      "id": "265ac4ef-3881-4f86-a2b5-79f13da564a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        960
      ],
      "id": "267ea1d6-039d-4a8f-b214-94d7106a714c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Conseguiu ver o orçamento? Se quiser, posso explicar melhor ou mandar outras sugestões. Estou por aqui!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        848
      ],
      "id": "f8159605-7407-4e2a-914e-ae2706a52bb7",
      "name": "FUP D1 O",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Aqui na Espaço Móveis, você escolhe com calma, recebe rápido e só paga na entrega. Queremos deixar tudo o mais fácil possível pra você! 😄"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        1008
      ],
      "id": "431fe4c5-7d10-40d8-8ffe-1aae32fca712",
      "name": "FUP D1 N",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Só passando pra lembrar que aqui na Espaço Móveis a entrega é super rápida e a montagem é gratuita para Fortaleza! Se ainda estiver precisando, é só responder por aqui. 💬"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        704
      ],
      "id": "12640041-2e3f-4b16-a5b9-330b1dba3116",
      "name": "FUP D1 P",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tbllVA04PsvXmX5qT",
          "mode": "list",
          "cachedResultName": "Luana Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tbllVA04PsvXmX5qT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('0d').item.json.id }}",
            "FUP": "1",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima mensagem",
              "displayName": "Ultima mensagem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2176,
        512
      ],
      "id": "2770d6f2-e705-46fd-9819-3f2f3a3e7df5",
      "name": "Update FUP ",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        480
      ],
      "id": "9f026ef4-bb1a-41fc-b969-a2ade9b4599d",
      "name": "0d",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi, tudo bem? Aqui é da Espaço Móveis! Vimos que você iniciou um atendimento com a gente, e queremos saber se ainda está buscando móveis ou cama box. Estamos por aqui pra te ajudar com rapidez e ótimos preços! 😊"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        192
      ],
      "id": "24421204-0919-4c19-a198-8a5156798786",
      "name": "FUP D0 P",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi! Já te enviamos o orçamento com as opções. Precisando ajustar algo ou tirar dúvidas, é só me chamar por aqui!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        352
      ],
      "id": "38086216-5f47-4243-a70d-092fcd347b94",
      "name": "FUP D0 O",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1680,
        448
      ],
      "id": "9b560e09-82b9-48af-8639-2207669c6ce5",
      "name": "Switch0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi! Tudo certo? Vimos que você curtiu alguns modelos. Precisa de ajuda pra decidir? Podemos mandar mais opções ou tirar qualquer dúvida! 🛋️"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        512
      ],
      "id": "2e7716be-51fd-48d8-bcbc-584a857f9ba2",
      "name": "FUP D0 N",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2400,
        1456
      ],
      "id": "6440cf5e-9100-4932-a185-dee2b4f3fa88",
      "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2672,
        1936
      ],
      "id": "4031cdc7-e290-4b59-b6d9-7396e6697b5d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2912,
        2416
      ],
      "id": "cdc0dd9f-43a8-4c4c-bf96-4b2a3cf60ba6",
      "name": "Switch4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Ainda posso te ajudar com sua escolha? Temos novidades no estoque e promoções rolando! Me chama que envio as opções atualizadas. 📦"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        1216
      ],
      "id": "e0d5b71d-0af5-423b-9b71-f57fc1329ead",
      "name": "FUP D3 P",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Alguns produtos estão com preço promocional só até o fim da semana! Quer aproveitar? Posso segurar pra você."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        1360
      ],
      "id": "97c6f203-1d68-4257-a8a4-302567909f7a",
      "name": "FUP D3 O",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Olá! Alguns modelos estão com o estoque acabando. Quer que eu confirme a disponibilidade pra você antes que acabe?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        1504
      ],
      "id": "daca9ccf-99ef-4550-9957-cfe138089109",
      "name": "FUP D3 N",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi, tudo certo? Só pra te avisar que temos condições especiais essa semana — quem sabe é a chance de fechar sua compra com desconto! Posso te mandar o catálogo?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        1712
      ],
      "id": "2fda9646-d7b8-4257-b691-fa07bb2e6111",
      "name": "FUP D7 P",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Só lembrando: entrega rápida, montagem gratuita e pagamento só na entrega. É simples, prático e seguro! 😉"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        1856
      ],
      "id": "1e28c831-2eaa-4adb-8493-aaa79a12ca51",
      "name": "FUP D7 O",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Essa semana temos desconto em alguns produtos! Quer que eu veja se o modelo que você gostou está na lista?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        1984
      ],
      "id": "480e2bbf-af82-400d-bcef-52e41787d8c4",
      "name": "FUP D7 N",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Passando pra agradecer o contato e dizer que estamos sempre à disposição quando quiser renovar seus móveis. Salva nosso número pra não perder futuras promoções! 👋"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        2208
      ],
      "id": "c0143be1-509c-4384-b359-7a81e51d55f6",
      "name": "FUP D15 P",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Pra fechar com chave de ouro, consigo um brinde exclusivo ou condição especial! Me avisa se ainda estiver interessado(a)! 🎁"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        2336
      ],
      "id": "91008462-8fb0-44d8-93e5-fadbecf11e4e",
      "name": "FUP D15 O",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Posso montar uma proposta com as condições de pagamento e entrega pra você? Rapidinho e sem compromisso!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        2464
      ],
      "id": "da263dff-1e79-4754-a516-a0f75c1e23e6",
      "name": "FUP D15 N",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# CLIENTES 1",
        "height": 80,
        "width": 230,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "id": "8c68525b-2f6e-4aef-9d8a-f1796652ff43",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "filterByFormula": "AND(   {Telefone comercial (contato)},   OR(     {Etapa do lead} = \"Parou de Responder (Recuperar)\",     {Etapa do lead} = \"Orçamento Enviado\",     {Etapa do lead} = \"Negociação\"   ) )",
        "options": {
          "fields": [
            "Contato principal",
            "Telefone comercial (contato)",
            "Etapa do lead",
            "FUP",
            "Ultima Interacao"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        3200
      ],
      "id": "5c52d90b-b5bd-4de2-97ac-914f1b2907dd",
      "name": "Search records1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        3200
      ],
      "id": "0d1eee4e-1aa5-42c8-b7b3-be6acd417348",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tblN17EqBrStsKXbq",
          "mode": "list",
          "cachedResultName": "Maurício Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tblN17EqBrStsKXbq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('1d1').item.json.id }}",
            "FUP": "2",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                },
                {
                  "name": "ainda teria interesse no produto",
                  "value": "ainda teria interesse no produto"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2832,
        3744
      ],
      "id": "068eb84f-d8b1-4ee3-b839-763866006db7",
      "name": "Update FUP 5",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tblN17EqBrStsKXbq",
          "mode": "list",
          "cachedResultName": "Maurício Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tblN17EqBrStsKXbq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('3d1').item.json.id }}",
            "FUP": "3",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                },
                {
                  "name": "ainda teria interesse no produto",
                  "value": "ainda teria interesse no produto"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2960,
        4256
      ],
      "id": "3fe45ed0-6db8-4fdb-a97f-7b9ba2fb0d60",
      "name": "Update FUP 6",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tblN17EqBrStsKXbq",
          "mode": "list",
          "cachedResultName": "Maurício Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tblN17EqBrStsKXbq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('7d1').item.json.id }}",
            "FUP": "4",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                },
                {
                  "name": "ainda teria interesse no produto",
                  "value": "ainda teria interesse no produto"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3264,
        4880
      ],
      "id": "5fa874af-ac11-4dd4-b200-8f86be0699eb",
      "name": "Update FUP 7",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tblN17EqBrStsKXbq",
          "mode": "list",
          "cachedResultName": "Maurício Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tblN17EqBrStsKXbq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('15d1').item.json.id }}",
            "FUP": "5",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                },
                {
                  "name": "ainda teria interesse no produto",
                  "value": "ainda teria interesse no produto"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3520,
        5376
      ],
      "id": "cc7c1dab-a5d9-40c4-9427-c557580550c9",
      "name": "Update FUP 8",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        992,
        2960
      ],
      "id": "cdc2854e-c5ae-46c1-9eee-5b1bb28754e0",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(24, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        3712
      ],
      "id": "0eb6e0e5-d1ac-488a-8ef7-7e15a771b99c",
      "name": "1d1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(48, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1952,
        4240
      ],
      "id": "f66099be-ab7c-4f6c-b111-7fe5e20e7701",
      "name": "3d1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(96, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        4864
      ],
      "id": "8657d5f1-a0c2-4e9c-a0c4-772226b08665",
      "name": "7d1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(192, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        5360
      ],
      "id": "6d784a5d-4db7-49db-9fe9-d5109616eea7",
      "name": "15d1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        3200
      ],
      "id": "3bcf5d18-d9ba-4ff0-b13b-61c549766c3e",
      "name": "Wait1",
      "webhookId": "a51da49f-6208-4d60-8770-7599d5b915cc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8482afbe-06db-4b98-a2a1-d6e4916567e7",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7b4a2098-e12e-4c05-834e-e5c5916e2705",
              "name": "Nome",
              "value": "={{ $json[\"Contato principal\"] }}",
              "type": "string"
            },
            {
              "id": "c663319c-f73c-45c2-add5-c492f31bdbbd",
              "name": "Telefone",
              "value": "={{ $json[\"Telefone comercial (contato)\"].toString().replace(/\\D/g, '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "379d24c3-5cc5-4c8f-9c63-0c90f2603c36",
              "name": "Etapa",
              "value": "={{ $json[\"Etapa do lead\"] }}",
              "type": "string"
            },
            {
              "id": "5d76d2cc-f17e-46bc-8ef8-c900a72e85b0",
              "name": "FUP",
              "value": "={{ $json.FUP }}",
              "type": "string"
            },
            {
              "id": "f3fef69c-3a23-4559-a84c-909cd6daceeb",
              "name": "Ultima Interacao",
              "value": "={{ $json[\"Ultima Interacao\"] }}",
              "type": "string"
            },
            {
              "id": "02bcb4cc-bae2-41cb-b085-3bbb68774c00",
              "name": "url",
              "value": "https://evolutionapi.salesland.com.br/",
              "type": "string"
            },
            {
              "id": "50a3338b-f6d5-4ea4-8b51-00f46991430e",
              "name": "instance",
              "value": "espacomoveis",
              "type": "string"
            },
            {
              "id": "72d9a17f-a161-49b4-b0f7-29b6ede4d420",
              "name": "apikey",
              "value": "3546FFAB8B83-4E73-BB0A-CA79255BE85E",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        3200
      ],
      "id": "430cfcc4-0517-4466-b162-1a1ce3061124",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1936,
        3680
      ],
      "id": "dacab264-3356-41db-a2c3-e8b7bf765086",
      "name": "Switch5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Conseguiu ver o orçamento? Se quiser, posso explicar melhor ou mandar outras sugestões. Estou por aqui!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        3584
      ],
      "id": "89a8c1bf-472e-4a09-b6e1-1a5dfb7b72ac",
      "name": "FUP D1 O1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Aqui na Espaço Móveis, você escolhe com calma, recebe rápido e só paga na entrega. Queremos deixar tudo o mais fácil possível pra você! 😄"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        3728
      ],
      "id": "92af8c41-59ca-4fd3-a6bc-3ef53fc885de",
      "name": "FUP D1 N1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Só passando pra lembrar que aqui na Espaço Móveis a entrega é super rápida e a montagem é gratuita para Fortaleza! Se ainda estiver precisando, é só responder por aqui. 💬"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        3440
      ],
      "id": "186b795a-1d13-4823-8307-feb95ac2caf9",
      "name": "FUP D1 P1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tblN17EqBrStsKXbq",
          "mode": "list",
          "cachedResultName": "Maurício Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tblN17EqBrStsKXbq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('0d1').item.json.id }}",
            "FUP": "1",
            "Ultima Interacao": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                },
                {
                  "name": "ainda teria interesse no produto",
                  "value": "ainda teria interesse no produto"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2416,
        3216
      ],
      "id": "bcd9ef71-89ad-440b-a6b0-3340f4e81b86",
      "name": "Update FUP 9",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        3200
      ],
      "id": "6e649477-c804-40ea-89d0-ff7dc9a291d0",
      "name": "0d1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi, tudo bem? Aqui é da Espaço Móveis! Vimos que você iniciou um atendimento com a gente, e queremos saber se ainda está buscando móveis ou cama box. Estamos por aqui pra te ajudar com rapidez e ótimos preços! 😊"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        2912
      ],
      "id": "5c0d261f-3500-4881-93b0-4816ed2bd2cc",
      "name": "FUP D0 P1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi! Já te enviamos o orçamento com as opções. Precisando ajustar algo ou tirar dúvidas, é só me chamar por aqui!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        3072
      ],
      "id": "96cc63d5-9c72-48d0-8472-a7353bccc48a",
      "name": "FUP D0 O1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1664,
        3168
      ],
      "id": "ad2424e5-829d-4f5e-baa6-b574b1018359",
      "name": "Switch6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi! Tudo certo? Vimos que você curtiu alguns modelos. Precisa de ajuda pra decidir? Podemos mandar mais opções ou tirar qualquer dúvida! 🛋️"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        3216
      ],
      "id": "dddb168b-063e-4db2-865c-f85ed372203e",
      "name": "FUP D0 N1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2432,
        4208
      ],
      "id": "9bf4e2c4-69d6-4c9d-89c9-ecd189b32777",
      "name": "Switch7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2704,
        4832
      ],
      "id": "6772ba29-bd0e-4048-8c1b-f21453b373e2",
      "name": "Switch8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "310d626b-7799-4c5c-91d0-2e7ffdd50e1f",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Parou de Responder (Recuperar)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parou de Responder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6784ecbf-5371-41c5-8f08-a2f58ed82f18",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Orçamento Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Orçamento "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Negociação",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23abd5a7-6dcc-4e18-afba-32675c077f32"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Negociação"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2992,
        5328
      ],
      "id": "36146905-72dc-49ba-aca6-2e73b6f4ef5b",
      "name": "Switch9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Ainda posso te ajudar com sua escolha? Temos novidades no estoque e promoções rolando! Me chama que envio as opções atualizadas. 📦"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        3936
      ],
      "id": "379db69a-125f-4b64-b992-88fa42758d24",
      "name": "FUP D3 P1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Alguns produtos estão com preço promocional só até o fim da semana! Quer aproveitar? Posso segurar pra você."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        4096
      ],
      "id": "018fa8aa-cc67-4554-9052-cc779f0df02a",
      "name": "FUP D3 O1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Olá! Alguns modelos estão com o estoque acabando. Quer que eu confirme a disponibilidade pra você antes que acabe?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        4256
      ],
      "id": "999371fb-fe8b-4ebb-919b-d16c352d6dc5",
      "name": "FUP D3 N1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Oi, tudo certo? Só pra te avisar que temos condições especiais essa semana — quem sabe é a chance de fechar sua compra com desconto! Posso te mandar o catálogo?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        4496
      ],
      "id": "93770405-78f4-4bcf-a3ae-2cbf012aad37",
      "name": "FUP D7 P1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Só lembrando: entrega rápida, montagem gratuita e pagamento só na entrega. É simples, prático e seguro! 😉"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        4688
      ],
      "id": "e8aa0e54-e798-4a37-a2b2-5b1eaccf2aba",
      "name": "FUP D7 O1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Essa semana temos desconto em alguns produtos! Quer que eu veja se o modelo que você gostou está na lista?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        4880
      ],
      "id": "d87fb62f-b9dc-40e6-96de-65a85864489b",
      "name": "FUP D7 N1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Passando pra agradecer o contato e dizer que estamos sempre à disposição quando quiser renovar seus móveis. Salva nosso número pra não perder futuras promoções! 👋"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3264,
        5088
      ],
      "id": "8ec2d906-5e9d-479f-b85c-c7f1e59c5810",
      "name": "FUP D15 P1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Pra fechar com chave de ouro, consigo um brinde exclusivo ou condição especial! Me avisa se ainda estiver interessado(a)! 🎁"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3264,
        5232
      ],
      "id": "982a246c-2190-4285-8745-eace0bec941c",
      "name": "FUP D15 O1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Posso montar uma proposta com as condições de pagamento e entrega pra você? Rapidinho e sem compromisso!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3264,
        5376
      ],
      "id": "7df8b1ad-7327-4aef-826c-8e168144acd1",
      "name": "FUP D15 N1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# CLIENTES 2",
        "height": 80,
        "width": 262,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        3056
      ],
      "id": "7ef03d71-6ff5-4ce5-86c5-923d8233edf4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(120, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2928,
        2672
      ],
      "id": "5b8ea1b8-4dac-4465-90e6-497b23951c70",
      "name": "Exit",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tbllVA04PsvXmX5qT",
          "mode": "list",
          "cachedResultName": "Luana Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tbllVA04PsvXmX5qT"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Ultima Interacao": "={{ $now }}",
            "Etapa do lead": "Comercial descarte"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                },
                {
                  "name": "Comercial descarte",
                  "value": "Comercial descarte"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima mensagem",
              "displayName": "Ultima mensagem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3168,
        2624
      ],
      "id": "801b363c-6921-4615-a70b-dafd54423fed",
      "name": "Exit FUP",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3deda0c5-b3cb-46da-b09f-51a46b4fd6fd",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json[\"Ultima Interacao\"].toDateTime().minus(3, 'hour').plus(120, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "2fa73e63-c46f-41a9-b6db-543dd3a3246b",
              "leftValue": "={{ $json.FUP }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2992,
        5648
      ],
      "id": "9b3d5af7-94a1-422f-960f-f21a4d33c425",
      "name": "Exit1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appizUtgrO78j6ev5",
          "mode": "list",
          "cachedResultName": "Espaço Móveis",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5"
        },
        "table": {
          "__rl": true,
          "value": "tblN17EqBrStsKXbq",
          "mode": "list",
          "cachedResultName": "Maurício Venda",
          "cachedResultUrl": "https://airtable.com/appizUtgrO78j6ev5/tblN17EqBrStsKXbq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Ultima Interacao": "={{ $now }}",
            "Etapa do lead": "Comercial descarte"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead título",
              "displayName": "Lead título",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contato principal",
              "displayName": "Contato principal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone comercial (contato)",
              "displayName": "Telefone comercial (contato)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Etapa do lead",
              "displayName": "Etapa do lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aguardando Atendimento",
                  "value": "Aguardando Atendimento"
                },
                {
                  "name": "Em Atendimento",
                  "value": "Em Atendimento"
                },
                {
                  "name": "Parou de Responder (Recuperar)",
                  "value": "Parou de Responder (Recuperar)"
                },
                {
                  "name": "Orçamento Enviado",
                  "value": "Orçamento Enviado"
                },
                {
                  "name": "Negociação",
                  "value": "Negociação"
                },
                {
                  "name": "CLIENTES EM ANÁLISE",
                  "value": "CLIENTES EM ANÁLISE"
                },
                {
                  "name": "Base de Clientes",
                  "value": "Base de Clientes"
                },
                {
                  "name": "Comercial descarte",
                  "value": "Comercial descarte"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Funil de vendas",
              "displayName": "Funil de vendas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Criada",
              "displayName": "Data Criada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead tags",
              "displayName": "Lead tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Mauricio",
                  "value": "Mauricio"
                },
                {
                  "name": "Luana",
                  "value": "Luana"
                },
                {
                  "name": "Cliente",
                  "value": "Cliente"
                },
                {
                  "name": "ainda teria interesse no produto",
                  "value": "ainda teria interesse no produto"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUP",
              "displayName": "FUP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0",
                  "value": "0"
                },
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "5",
                  "value": "5"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Ultima Interacao",
              "displayName": "Ultima Interacao",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima mensagem",
              "displayName": "Ultima mensagem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3280,
        5584
      ],
      "id": "ed808147-9495-47b2-be40-cfbc578b03a4",
      "name": "Exit FUP1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        80
      ],
      "id": "b50c7aec-4e96-46d9-a4f6-6524776b4160",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        288
      ],
      "id": "32c71e18-af01-4c43-8747-9d88fd065243",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        464
      ],
      "id": "2fe17e89-fe62-45bc-b3d5-c2a85f887188",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        176,
        3200
      ],
      "id": "d1a30821-0696-4169-9c25-5593fb1eb09a",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4768,
        2672
      ],
      "id": "5f3bbd29-a9a0-450b-a9d1-11432206def2",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4544,
        5680
      ],
      "id": "250e7e56-18b5-452f-9870-d62be542f00e",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "content": "",
        "height": 2928,
        "width": 5088,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "9c905a90-ec1f-424f-a417-25959840e59f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 2928,
        "width": 5088,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2928
      ],
      "typeVersion": 1,
      "id": "dc7d4a22-5869-4b94-9876-5de70027662b",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Search records": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1d": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3d": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7d": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15d": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "0d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "FUP D1 P",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D1 O",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D1 N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D1 O": {
      "main": [
        [
          {
            "node": "Update FUP 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D1 N": {
      "main": [
        [
          {
            "node": "Update FUP 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D1 P": {
      "main": [
        [
          {
            "node": "Update FUP 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP ": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0d": {
      "main": [
        [
          {
            "node": "Switch0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D0 P": {
      "main": [
        [
          {
            "node": "Update FUP ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D0 O": {
      "main": [
        [
          {
            "node": "Update FUP ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch0": {
      "main": [
        [
          {
            "node": "FUP D0 P",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D0 O",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D0 N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D0 N": {
      "main": [
        [
          {
            "node": "Update FUP ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "FUP D3 P",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D3 O",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D3 N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "FUP D7 P",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D7 O",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D7 N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "FUP D15 P",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D15 O",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D15 N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D3 P": {
      "main": [
        [
          {
            "node": "Update FUP 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D3 O": {
      "main": [
        [
          {
            "node": "Update FUP 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D3 N": {
      "main": [
        [
          {
            "node": "Update FUP 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D7 P": {
      "main": [
        [
          {
            "node": "Update FUP 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D7 O": {
      "main": [
        [
          {
            "node": "Update FUP 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D7 N": {
      "main": [
        [
          {
            "node": "Update FUP 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D15 P": {
      "main": [
        [
          {
            "node": "Update FUP 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D15 O": {
      "main": [
        [
          {
            "node": "Update FUP 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D15 N": {
      "main": [
        [
          {
            "node": "Update FUP 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 7": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 8": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1d1": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3d1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3d1": {
      "main": [
        [
          {
            "node": "Switch7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7d1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7d1": {
      "main": [
        [
          {
            "node": "Switch8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15d1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15d1": {
      "main": [
        [
          {
            "node": "Switch9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "0d1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "FUP D1 P1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D1 O1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D1 N1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D1 O1": {
      "main": [
        [
          {
            "node": "Update FUP 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D1 N1": {
      "main": [
        [
          {
            "node": "Update FUP 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D1 P1": {
      "main": [
        [
          {
            "node": "Update FUP 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update FUP 9": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0d1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1d1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D0 P1": {
      "main": [
        [
          {
            "node": "Update FUP 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D0 O1": {
      "main": [
        [
          {
            "node": "Update FUP 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "FUP D0 P1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D0 O1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D0 N1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D0 N1": {
      "main": [
        [
          {
            "node": "Update FUP 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch7": {
      "main": [
        [
          {
            "node": "FUP D3 P1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D3 O1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D3 N1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch8": {
      "main": [
        [
          {
            "node": "FUP D7 P1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D7 O1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D7 N1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch9": {
      "main": [
        [
          {
            "node": "FUP D15 P1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D15 O1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FUP D15 N1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D3 P1": {
      "main": [
        [
          {
            "node": "Update FUP 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D3 O1": {
      "main": [
        [
          {
            "node": "Update FUP 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D3 N1": {
      "main": [
        [
          {
            "node": "Update FUP 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D7 P1": {
      "main": [
        [
          {
            "node": "Update FUP 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D7 O1": {
      "main": [
        [
          {
            "node": "Update FUP 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D7 N1": {
      "main": [
        [
          {
            "node": "Update FUP 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D15 P1": {
      "main": [
        [
          {
            "node": "Update FUP 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D15 O1": {
      "main": [
        [
          {
            "node": "Update FUP 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUP D15 N1": {
      "main": [
        [
          {
            "node": "Update FUP 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit": {
      "main": [
        [
          {
            "node": "Exit FUP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit FUP": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit1": {
      "main": [
        [
          {
            "node": "Exit FUP1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exit FUP1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4bde6877-a002-4d65-9c3a-2a74e8da52b1",
  "meta": {
    "instanceId": "803c0ca4e7f9d14e44d80db31eb5701b5da3d5bfde7c4bfbf79bcd0d279a9f40"
  },
  "id": "ZBFXW8sNmetXRHSE",
  "tags": []
}