scripts/Template Atendimento.json
{
  "name": "Template Atendimento",
  "nodes": [
    {
      "parameters": {
        "content": "## Atendente PRE-SDR",
        "height": 80,
        "width": 294,
        "color": 5
      },
      "id": "d95b0f59-77cc-4155-8e06-058b9f14b1d6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        2560
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 1024,
        "width": 3536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        2512
      ],
      "typeVersion": 1,
      "id": "69b58bab-e9e1-4bd2-8998-d8c3c14c436c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\n// O Airtable SEMPRE retorna um campo \"id\" no nível raiz + \"fields\" com os dados\nconst id = item.id ?? null;\nconst dados = item.fields ?? item;\n\nif (!dados || typeof dados !== 'object') {\n  throw new Error(\"Não foram encontrados dados válidos para processar.\");\n}\n\n// Cria objeto com os dados originais (separados e formatados em snake_case)\nconst dadosSeparados = {};\nfor (const [chave, valor] of Object.entries(dados)) {\n  const chaveFormatada = chave\n    .replace(/ /g, '_')     // Substitui espaços por underscore\n    .replace(/-/g, '_')     // Substitui traços por underscore\n    .toLowerCase();         // Tudo em minúsculo\n  dadosSeparados[chaveFormatada] = valor;\n}\n\n// Cria também versão formatada para AI Agent\nconst linhas = Object.entries(dados).map(([chave, valor]) => {\n  const chaveFormatada = chave\n    .replace(/_/g, ' ')\n    .replace(/\\b\\w/g, l => l.toUpperCase());\n  return `**${chaveFormatada}:** ${valor}`;\n});\n\nconst mensagemFinal = `📝 Aqui estão os dados do lead:\\n\\n${linhas.join('\\n')}`;\n\nreturn [\n  {\n    json: {\n      id,                  // 🔑 ID do registro Airtable (fundamental para update)\n      ...dadosSeparados,   // Campos separados\n      userMessage: mensagemFinal // Texto completo opcional\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        3072
      ],
      "id": "2ec34dec-27a5-493f-ac24-7f860bc4fad3",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bbf612e-9ea5-4386-823d-2cd81d7c850d",
              "leftValue": "={{ (() => {\n  const hora = new Date($now).getHours();\n  const minutos = new Date($now).getMinutes();\n  \n  // Antes das 6:00\n  if (hora < 6) return true;\n\n  // Após 18:00\n  if (hora > 18 || (hora === 18 && minutos >= 00)) return true;\n\n  return false;\n})() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2960,
        3360
      ],
      "id": "a183c75c-aa94-4e50-bbb0-d545e297d2b4",
      "name": "fora do horário?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1344,
        3056
      ],
      "id": "86058380-a94c-4df3-bf67-023946f83934",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NZTMubsRKm4Y6eX8",
          "name": "Ives - Chat"
        }
      }
    },
    {
      "parameters": {
        "description": "Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed. "
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1632,
        3056
      ],
      "id": "3a1724ce-26c3-4417-a50f-69c976d06d65",
      "name": "Think"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BF Ativo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BF Desativado"
            }
          ]
        },
        "options": {}
      },
      "id": "c4030d00-a018-4eba-8cde-3c16ac7499a8",
      "name": "Switch Block1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -4464,
        2928
      ]
    },
    {
      "parameters": {
        "content": "# Pausa para Atendimento Humano",
        "height": 80,
        "width": 716,
        "color": 5
      },
      "id": "c7669bb5-b998-47db-9444-cac9b13198f1",
      "name": "Sticky Note73",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5568,
        2672
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e67c7b9f-c25d-4c55-9ff5-39876832a085"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recept"
            }
          ]
        },
        "options": {}
      },
      "id": "9e9a40be-1d2c-432a-b63b-c67b1c1c6dcd",
      "name": "Verifica remetende1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -4944,
        2848
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_block_sdrLincoln",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 20000
      },
      "id": "85afc86c-0430-4d4d-bd78-9d09c968de26",
      "name": "PARAR BF CONVERT1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4656,
        2768
      ],
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_block_sdrLincoln",
        "options": {}
      },
      "id": "ce73f0e5-0517-4725-987f-50b3785cf1f6",
      "name": "INICIAR ATENDIMENTO1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4656,
        2928
      ],
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2fc6d11-3e2f-457d-bca2-8a052dac64db",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "/reset",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5184,
        2864
      ],
      "id": "892275d4-0e23-44c3-93f1-cc9e9b098b7f",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories_testeunidental\nWHERE session_id = '{{ $json.message.remote_jid }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4752,
        3232
      ],
      "id": "1b4b7e9c-1622-4d0b-85e4-46bc2fdda553",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YCvcDeuBMBPZ64WQ",
          "name": "Sales Land"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolutionapi.salesland.com.br/message/sendText/ia-drLincoln-nova",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "21F75EFA7E9E-47E1-AACE-A05373547162"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('variaveis_agente').item.json.telefone }}"
            },
            {
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2800
      ],
      "id": "d6fd38f4-9fd7-4aad-9d09-99bc0c330392",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de1dca42-b84b-4b82-8f84-eb71decf5be7",
              "leftValue": "={{ $json.Telefone}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3168,
        2896
      ],
      "id": "a915a644-6dd5-47c7-99b0-5f719011acd9",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code').item.json.mensagem_completa }}",
        "options": {
          "systemMessage": "=## Prompt de Instrução – Agente Vitória (SDR do Dr. Lincoln)\n\n### REGRA INEGOCIÁVEL E PRIORIDADE MÁXIMA\n## Prompt de Instrução – Agente Vitória (SDR do Dr. Lincoln)\n\n### REGRA INEGOCIÁVEL E PRIORIDADE MÁXIMA\nSua primeira e mais importante tarefa é analisar o histórico da conversa. Se a conversa já começou e você já se apresentou, é **TERMINANTEMENTE PROIBIDO** se apresentar novamente. Falhar nisso quebra a confiança do paciente. Continue a conversa do ponto onde ela parou. Você nunca agenda e nem marca consulta, você apenas encaminha para o Doutor agendar a consulta.\n\n### Identidade\n- **Nome da agente:** Vitória\n- **Função:** SDR da clínica odontológica do Dr. Lincoln Albuquerque\n- **Tom de voz:** acolhedor, humano, profissional e direto.\n- **Estilo de comunicação:** Aja como uma recepcionista humana, não como um robô.\n\n### Contexto da Clínica (Sua Base de Conhecimento)\n- **Especialidade:** Periodontia, Implantodontia e Endodontia\n- **Endereço:** Rua Dr. José Lourenço, 1901\n- **Planos Odontológicos aceitos:** UNIODONTO, UNIDENTAL e SulAmérica\n\n### Objetivo do Atendimento\n- Qualificar os leads que entram em contato, entendendo seu problema para guiá-los ao agendamento.\n\n### Regras Críticas de Comportamento\n- **PROIBIÇÃO DE REPETIÇÃO:** NUNCA use frases genéricas como \"estou à disposição\" ou \"estou aqui para ajudar\".\n- **INTERPRETAÇÃO DE AFIRMATIVAS:** Considere \"sim\", \"quero\", \"por favor\", \"pode ser\", \"claro\", \"ok\" como um \"SIM\" para prosseguir.\n- **LIDAR COM PERGUNTAS FORA DO ROTEIRO:** Responda diretamente e guie a conversa de volta ao fluxo.\n- **LIDAR COM MENSAGENS ALEATÓRIAS:** Se não entender, peça para o paciente clarificar a última pergunta. Exemplo: \"Desculpe, não entendi. Poderíamos continuar de onde paramos sobre a sua consulta?\"\n\n---\n\n### Fluxo de Qualificação Obrigatório (O CAMINHO PRINCIPAL)\n\n**Etapa 1: Abertura e Qualificação (SOMENTE PARA O PRIMEIRO CONTATO)**\n- Apresente-se e pergunte o que o paciente está sentindo.\n\n**Etapa 2: Proposta de Agendamento**\n- Após o paciente descrever o problema, ofereça o agendamento.\n\n**Etapa 3: Definição de Pagamento**\n- Se o paciente concordou, pergunte sobre plano ou particular. Se for particular, informe o valor da consulta que fica 250 reais. Se for plano, o convênio arca com o valor.\n\n**Etapa 4: Handoff com Frase-Gatilho**\n- Após a resposta, sua mensagem final DEVE terminar com a frase-gatilho: **\"Vou fazer o seu encaminhamento para o Dr. Lincoln.\"**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1440,
        2800
      ],
      "id": "48632faf-fa6c-4c12-b15d-178e841b3f49",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "applcOmfweDJMO9zn",
          "mode": "list",
          "cachedResultName": "Gestao de Leads SDR IA - Dr Lincoln",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn"
        },
        "table": {
          "__rl": true,
          "value": "tblei2dPu9vudTDGU",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appmSeftcmBh1TIp2/tblei2dPu9vudTDGU"
        },
        "filterByFormula": "={{ `Telefone = '${$('variaveis_agente').item.json.telefone}'` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -3792,
        2912
      ],
      "id": "f8ed602e-b374-4de0-a21c-1eeaed37f338",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a701eac5-01a0-4e87-b6a7-cb5aee0e462b",
              "name": "id_lead",
              "value": "={{ $('Code1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c04c80e9-b8f0-46c0-898c-4e30931ad584",
              "name": "nome",
              "value": "={{ $('Code1').item.json.nome }}",
              "type": "string"
            },
            {
              "id": "045bf10c-ae59-46e9-9fa2-df9d451c8526",
              "name": "telefone",
              "value": "={{ $('Code1').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "ea2320d5-e627-4800-a1bf-0b56ca80b9bb",
              "name": "status_de_qualificação",
              "value": "={{ $('Code1').item.json['status_de_qualificação'] }}",
              "type": "string"
            },
            {
              "id": "c116a910-34de-4b20-a95d-a73186ef536f",
              "name": "última_mensagem",
              "value": "={{ $json.mensagem_completa }}",
              "type": "string"
            },
            {
              "id": "f7ffd78c-be68-40e3-84e4-4ccbfc50d83b",
              "name": "atribuição_do_lead",
              "value": "={{ $('Code1').item.json['atribuição_do_lead'] }}",
              "type": "string"
            },
            {
              "id": "16495634-310e-4851-8b5b-dd2e7fad12d8",
              "name": "etapa_sdr",
              "value": "={{ $('Code1').item.json.etapa_sdr }}",
              "type": "string"
            },
            {
              "id": "01a8ce78-73fa-4fef-904d-e1c1c2c9c3f2",
              "name": "dados_lead",
              "value": "={{ $('Code1').item.json.userMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        2848
      ],
      "id": "bebeafc3-e19c-4623-a306-afd3009161b4",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields3').item.json.etapa_sdr }}",
                    "rightValue": "IA SDR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3b4d62bf-abdb-4478-a0a5-2e3928271e44"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Encaminhar para IA de SDR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b06f706-bc98-48c5-aef8-8282e0960d6c",
                    "leftValue": "={{ $('Edit Fields3').item.json.etapa_sdr }}",
                    "rightValue": "Atendimento Humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Parar atendimento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "327f553a-523e-4d9a-b296-821fac5d800d",
                    "leftValue": "={{ $('Edit Fields3').item.json.etapa_sdr }}",
                    "rightValue": "IA Agendamento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Encaminhar para SDR PF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        544,
        2832
      ],
      "id": "df0e0dc9-52ec-4f9f-a9b6-b776c962cc23",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33edbea8-7608-4333-ab9c-8a09bd7f4b74",
              "leftValue": "={{ $('webhook_wpp').item.json.body.data.message.conversation }}",
              "rightValue": "={{ $json.fields['Última Mensagem'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7481b4b4-5648-48f1-9494-e74b8d6aecf4",
              "leftValue": "={{ $('webhook_wpp').item.json.body.data.message.audioMessage }}",
              "rightValue": "={{ $('webhook_wpp').item.json.body.data.message.audioMessage }}",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2640,
        2864
      ],
      "id": "a350d503-c982-48f9-936f-e5473c85858a",
      "name": "If7",
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "applcOmfweDJMO9zn",
          "mode": "list",
          "cachedResultName": "Gestao de Leads SDR IA - Dr Lincoln",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn"
        },
        "table": {
          "__rl": true,
          "value": "tblei2dPu9vudTDGU",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn/tblei2dPu9vudTDGU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Última Mensagem": "={{ $('variaveis_agente').item.json.message }}",
            "id": "={{ $json.id }}",
            "Nome": "={{ $('variaveis_agente').item.json.nome_do_lead }}",
            "Telefone": "={{ $json.Telefone }}",
            "Tags": "Novo",
            "Atribuição do Lead": "Em Qualificação"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etapa_SDR",
              "displayName": "Etapa_SDR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Atendimento Humano",
                  "value": "Atendimento Humano"
                },
                {
                  "name": "IA SDR",
                  "value": "IA SDR"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status de Qualificação",
              "displayName": "Status de Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Recepção",
                  "value": "Recepção"
                },
                {
                  "name": "Qualificando",
                  "value": "Qualificando"
                },
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Encaminhado para Atendimento",
                  "value": "Encaminhado para Atendimento"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Última Mensagem",
              "displayName": "Última Mensagem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima mensagem IA",
              "displayName": "ultima mensagem IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Servico Desejado",
              "displayName": "Servico Desejado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Foto do Lead",
              "displayName": "Foto do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data de Criação",
              "displayName": "Data de Criação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Novo",
                  "value": "Novo"
                },
                {
                  "name": "Prioritário",
                  "value": "Prioritário"
                },
                {
                  "name": "Recontatar",
                  "value": "Recontatar"
                },
                {
                  "name": "Sem Resposta",
                  "value": "Sem Resposta"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo de Não Qualificação",
              "displayName": "Motivo de Não Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Atribuição do Lead",
              "displayName": "Atribuição do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Não Qualificado",
                  "value": "Não Qualificado"
                },
                {
                  "name": "Em Qualificação",
                  "value": "Em Qualificação"
                },
                {
                  "name": "Pendente de FollowUp",
                  "value": "Pendente de FollowUp"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-up enviado",
              "displayName": "Follow-up enviado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Ultimo Atendimento Humano",
              "displayName": "Ultimo Atendimento Humano",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2848,
        2880
      ],
      "id": "63939495-c082-4926-8915-aa75d5ed5591",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_sdrLincoln"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3472,
        2784
      ],
      "id": "0b0c714d-9d12-457f-84f0-5a715634c61d",
      "name": "Delete a Key from Chat",
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "applcOmfweDJMO9zn",
          "mode": "list",
          "cachedResultName": "Gestao de Leads SDR IA - Dr Lincoln",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn"
        },
        "table": {
          "__rl": true,
          "value": "tblV8iz1oaAeeawnb",
          "mode": "list",
          "cachedResultName": "Clientes Ganhos",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn/tblV8iz1oaAeeawnb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome Completo": "={{ $json.fields.Nome }}",
            "Telefone": "={{ $json.fields.Telefone }}",
            "Valor do Orçamento": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome Completo",
              "displayName": "Nome Completo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deseja Incluir Alguém Além de Si Próprio?",
              "displayName": "Deseja Incluir Alguém Além de Si Próprio?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sim",
                  "value": "Sim"
                },
                {
                  "name": "Não",
                  "value": "Não"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Relacionado",
              "displayName": "Lead Relacionado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Última Mensagem do Lead",
              "displayName": "Última Mensagem do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Observações Adicionais",
              "displayName": "Observações Adicionais",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Valor do Orçamento",
              "displayName": "Valor do Orçamento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3168,
        2784
      ],
      "id": "277faab0-2ba8-4af7-b222-af99ed760e93",
      "name": "Cria lead1",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "applcOmfweDJMO9zn",
          "mode": "list",
          "cachedResultName": "Gestao de Leads SDR IA - Dr Lincoln",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn"
        },
        "table": {
          "__rl": true,
          "value": "tblei2dPu9vudTDGU",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn/tblei2dPu9vudTDGU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Edit Fields3').item.json.id_lead }}",
            "Nome": "={{ $('Edit Fields3').item.json.nome }}",
            "Telefone": "={{ $('Edit Fields3').item.json.telefone }}",
            "Etapa_SDR": "Atendimento Humano",
            "ultima mensagem IA": "={{ $json.message.conversation }}",
            "Tags": "Prioritário",
            "Última Mensagem": "={{ $('Edit Fields3').item.json.última_mensagem }}",
            "Status de Qualificação": "Qualificado",
            "Atribuição do Lead": "Qualificado",
            "Ultimo Atendimento Humano": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etapa_SDR",
              "displayName": "Etapa_SDR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Atendimento Humano",
                  "value": "Atendimento Humano"
                },
                {
                  "name": "IA SDR",
                  "value": "IA SDR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status de Qualificação",
              "displayName": "Status de Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Recepção",
                  "value": "Recepção"
                },
                {
                  "name": "Qualificando",
                  "value": "Qualificando"
                },
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Encaminhado para Atendimento",
                  "value": "Encaminhado para Atendimento"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Última Mensagem",
              "displayName": "Última Mensagem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima mensagem IA",
              "displayName": "ultima mensagem IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Servico Desejado",
              "displayName": "Servico Desejado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Foto do Lead",
              "displayName": "Foto do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data de Criação",
              "displayName": "Data de Criação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Novo",
                  "value": "Novo"
                },
                {
                  "name": "Prioritário",
                  "value": "Prioritário"
                },
                {
                  "name": "Recontatar",
                  "value": "Recontatar"
                },
                {
                  "name": "Sem Resposta",
                  "value": "Sem Resposta"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo de Não Qualificação",
              "displayName": "Motivo de Não Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Atribuição do Lead",
              "displayName": "Atribuição do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Não Qualificado",
                  "value": "Não Qualificado"
                },
                {
                  "name": "Em Qualificação",
                  "value": "Em Qualificação"
                },
                {
                  "name": "Pendente de FollowUp",
                  "value": "Pendente de FollowUp"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-up enviado",
              "displayName": "Follow-up enviado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Modified Time",
              "displayName": "Last Modified Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Ultimo Atendimento Humano",
              "displayName": "Ultimo Atendimento Humano",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2784,
        2784
      ],
      "id": "cbf96492-b87a-4123-b3d6-3af2afe1129b",
      "name": "Update record4",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -4000,
        2912
      ],
      "id": "7c1ce9e0-01ab-491f-9f64-783cc2b0d7f3",
      "name": "Crypto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79d46c06-f3f2-4b20-8656-580eefa4648d",
              "leftValue": "={{ $json['Status de Qualificação'] }}",
              "rightValue": "Encaminhado para Atendimento",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "900a7d8d-8e4f-4077-ad8e-73f84958af5a",
              "leftValue": "={{ $json['Status de Qualificação'] }}",
              "rightValue": "Qualificado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3520,
        2912
      ],
      "id": "db5f1588-39f8-49ee-8a84-6ba4c953f699",
      "name": "If9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79d46c06-f3f2-4b20-8656-580eefa4648d",
              "leftValue": "={{ $('Edit Fields3').item.json['status_de_qualificação'] }}",
              "rightValue": "Encaminhado para Atendimento",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "507eb8db-76c9-4d3b-b72d-dbd098556f38",
              "leftValue": "={{ $('Edit Fields3').item.json['status_de_qualificação'] }}",
              "rightValue": "Qualificado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        2816
      ],
      "id": "b1f8abe7-9dae-468f-a9c5-0a850a5e34f8",
      "name": "If10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        3376
      ],
      "id": "0c915ea9-f977-4f53-bad0-2c6cae4b7e5b",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e825acfe-db8a-427e-bbd3-a08e991deb50",
              "name": "instance.name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e711dca9-4bfc-48de-9ab6-f9ccddc26f08",
              "name": "instance.apikey",
              "value": "= {{ $('webhook_wpp').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "c3d5a119-bb40-4619-8b98-4727125c9746",
              "name": "instance.server_url",
              "value": "={{ $('webhook_wpp').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "44540fff-7d91-4a56-8c02-76be316b3024",
              "name": "message.event",
              "value": "={{ $('webhook_wpp').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "7dd2a185-93a3-4eb9-9984-4d05807da7e3",
              "name": "message.content",
              "value": "= {{(() => {\n  const msg = $('webhook_wpp').item.json.body.data.message;\n  // Text message\n  if (msg.conversation) return msg.conversation;\n  // Reaction emoji\n  if (msg.reactionMessage && msg.reactionMessage.text) return msg.reactionMessage.text;\n  // Caption from image, video or document\n  if (msg.imageMessage && msg.imageMessage.caption) return msg.imageMessage.caption;\n  if (msg.videoMessage && msg.videoMessage.caption) return msg.videoMessage.caption;\n  if (msg.documentMessage && msg.documentMessage.caption) return msg.documentMessage.caption;\n  // Extended text\n  if (msg.extendedTextMessage && msg.extendedTextMessage.text) return msg.extendedTextMessage.text;\n  // Audio transcription (caso use algum serviço)\n  if (msg.audioMessage && msg.audioMessage.transcription) return msg.audioMessage.transcription;\n  // Outros casos customizados\n  return '';\n})()}}",
              "type": "string"
            },
            {
              "id": "14fd19ee-738b-4579-9aa1-b7a823b5224c",
              "name": "message.timestamp",
              "value": "={{ $('webhook_wpp').item.json.body.data.messageTimestamp }}",
              "type": "string"
            },
            {
              "id": "55f14673-5d3c-445c-aae2-358722ae7656",
              "name": "message.content_url",
              "value": "={{(() => {   const msg = $('webhook_wpp').item.json.body.data.message;   return (msg.audioMessage && msg.audioMessage.url)       || (msg.imageMessage && msg.imageMessage.url)       || (msg.videoMessage && msg.videoMessage.url)       || (msg.documentMessage && msg.documentMessage.url)       || 'Mensagem sem conteúdo'; })()}}",
              "type": "string"
            },
            {
              "id": "d828aa21-e873-4b12-8103-dfa14498bf6e",
              "name": "message.message_id",
              "value": "={{ $('webhook_wpp').item.json.body.data.key.id}}",
              "type": "string"
            },
            {
              "id": "0a3fa628-c345-4e17-8e1b-3b4270db5c42",
              "name": "message.remote_jid",
              "value": "={{ $('webhook_wpp').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "574b1ff1-33ba-4199-999a-a07774cf7d35",
              "name": "message.content_type",
              "value": "={{ $('webhook_wpp').item.json.headers['content-type'] }}",
              "type": "string"
            },
            {
              "id": "c5711f38-b59f-4ab6-aa77-30f767209ead",
              "name": "data_message",
              "value": "={{ $('webhook_wpp').item.json.body.date_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5408,
        2864
      ],
      "id": "3db51d8b-c915-48d2-981d-b3fd7a4f31e6",
      "name": "dados_atendimento_humano"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('webhook_wpp').item.json.body.data.key.remoteJid }}",
        "tableName": "n8n_chat_histories_drlincoln",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1488,
        3056
      ],
      "id": "f316aa9f-08d8-48c3-9977-a24946e52101",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YCvcDeuBMBPZ64WQ",
          "name": "Sales Land"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fec4c5ec-ab74-4fff-9b5f-56cfab110438",
              "name": "telefone",
              "value": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}",
              "type": "string"
            },
            {
              "id": "4b0f53c4-aece-4fa7-b6d2-dccb22347383",
              "name": "evento",
              "value": "={{ $('dados_atendimento_humano').item.json.message.event }}",
              "type": "string"
            },
            {
              "id": "049045f0-08d3-4636-ab34-15ca2add7c36",
              "name": "nome_do_lead",
              "value": "={{ $('webhook_wpp').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "cf71ef6b-ecef-4fe3-90c8-8f26ad8f1af9",
              "name": "message",
              "value": "={{ $('webhook_wpp').item.json.body.data.message.conversation }} {{ $('webhook_wpp').item.json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            },
            {
              "id": "d91262d6-c414-478d-99a5-51646dd8a88f",
              "name": "atendente",
              "value": "={{ $('webhook_wpp').item.json.body.sender }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4224,
        2912
      ],
      "id": "ab741010-1821-4952-8262-c9f5439e3d01",
      "name": "variaveis_agente"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      mensagem_completa: \n`Aqui estão os dados do lead:\n\n**Nome:** ${$json.nome}\n**Telefone:** ${$json.telefone}\n**Status de Qualificação:** ${$json.status_de_qualificação}\n**Última Mensagem Recebida:** ${$json.última_mensagem}\n**Atribuição do Lead:** ${$json.atribuição_do_lead}\n**Etapa SDR:** ${$json.etapa_sdr}\n\nCom base nessas informações, continue a conversa com o lead, respeitando o tom comercial e consultivo do SDR.`,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        2848
      ],
      "id": "531f69a9-e75b-4d40-8822-c5ead1f68c1c",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EjakXDqoTd4CTK1k",
          "mode": "list",
          "cachedResultName": "Agende de Agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        3168
      ],
      "id": "de6af375-6f8b-4fd2-ab4a-c5bd17106213",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98f9838b-4b9a-4e5b-81f2-5bbea746894f",
              "leftValue": "={{ $json.message.conversation }}",
              "rightValue": "fazer o seu encaminhamento",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        2800
      ],
      "id": "73e994df-ebc6-4198-be2c-aa44030f94dd",
      "name": "If6"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Recupera automaticamente informações detalhadas do lead atual a partir do Airtable, usando o Record ID do contato. Fornece dados essenciais qual a etapa de qualificação ele está e , o nome dele, tags, a mensagem que o lead enviou, e outros metadados necessários para contextualizar a conversa e personalizar a abordagem conforme a metodologia 5D2X e Bloco A/E.",
        "base": {
          "__rl": true,
          "value": "apppSuby69nVjHT3C",
          "mode": "list",
          "cachedResultName": "Gestao de Leads SDR IA - Dr Lincoln",
          "cachedResultUrl": "https://airtable.com/apppSuby69nVjHT3C"
        },
        "table": {
          "__rl": true,
          "value": "tblei2dPu9vudTDGU",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appmSeftcmBh1TIp2/tblei2dPu9vudTDGU"
        },
        "id": "={{ $('Edit Fields3').item.json.id_lead }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1760,
        3056
      ],
      "id": "96e6a321-9886-42a2-83ad-f5fd61af093d",
      "name": "Get a record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3296,
        3040
      ],
      "id": "83ee3b9d-d978-487f-9575-75bfe83d0483",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2784,
        2992
      ],
      "id": "fb11c95d-562d-490a-8909-be188abd05bc",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "template-atendimento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5616,
        2864
      ],
      "id": "26189b1c-2662-44dd-871a-43e970863463",
      "name": "webhook_wpp",
      "webhookId": "f415dc8c-fb99-478f-9cd6-bb7c931e6afd"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "applcOmfweDJMO9zn",
          "mode": "list",
          "cachedResultName": "Gestao de Leads SDR IA - Dr Lincoln",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn"
        },
        "table": {
          "__rl": true,
          "value": "tblei2dPu9vudTDGU",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apppSuby69nVjHT3C/tblei2dPu9vudTDGU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $('variaveis_agente').item.json.nome_do_lead }}",
            "Telefone": "={{ $('variaveis_agente').item.json.telefone }}",
            "Etapa_SDR": "IA SDR",
            "Status de Qualificação": "Recepção",
            "Última Mensagem": "={{ $('variaveis_agente').item.json.message }}",
            "Tags": "Novo",
            "Atribuição do Lead": "Em Qualificação"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etapa_SDR",
              "displayName": "Etapa_SDR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Atendimento Humano",
                  "value": "Atendimento Humano"
                },
                {
                  "name": "IA SDR",
                  "value": "IA SDR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status de Qualificação",
              "displayName": "Status de Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Recepção",
                  "value": "Recepção"
                },
                {
                  "name": "Qualificando",
                  "value": "Qualificando"
                },
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Encaminhado para Atendimento",
                  "value": "Encaminhado para Atendimento"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Última Mensagem",
              "displayName": "Última Mensagem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima mensagem IA",
              "displayName": "ultima mensagem IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Servico Desejado",
              "displayName": "Servico Desejado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Foto do Lead",
              "displayName": "Foto do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data de Criação",
              "displayName": "Data de Criação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Novo",
                  "value": "Novo"
                },
                {
                  "name": "Prioritário",
                  "value": "Prioritário"
                },
                {
                  "name": "Recontatar",
                  "value": "Recontatar"
                },
                {
                  "name": "Sem Resposta",
                  "value": "Sem Resposta"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo de Não Qualificação",
              "displayName": "Motivo de Não Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Atribuição do Lead",
              "displayName": "Atribuição do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Não Qualificado",
                  "value": "Não Qualificado"
                },
                {
                  "name": "Em Qualificação",
                  "value": "Em Qualificação"
                },
                {
                  "name": "Pendente de FollowUp",
                  "value": "Pendente de FollowUp"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2752,
        3536
      ],
      "id": "fc90ea64-506c-4d8e-880f-fa570d1567e0",
      "name": "Cria lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "applcOmfweDJMO9zn",
          "mode": "list",
          "cachedResultName": "Gestao de Leads SDR IA - Dr Lincoln",
          "cachedResultUrl": "https://airtable.com/applcOmfweDJMO9zn"
        },
        "table": {
          "__rl": true,
          "value": "tblei2dPu9vudTDGU",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apppSuby69nVjHT3C/tblei2dPu9vudTDGU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $('variaveis_agente').item.json.nome_do_lead }}",
            "Telefone": "={{ $json.Telefone }}",
            "Etapa_SDR": "IA SDR",
            "Status de Qualificação": "Recepção",
            "Última Mensagem": "={{ $('variaveis_agente').item.json.message }}",
            "Tags": "Novo",
            "Atribuição do Lead": "Em Qualificação"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Etapa_SDR",
              "displayName": "Etapa_SDR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Atendimento Humano",
                  "value": "Atendimento Humano"
                },
                {
                  "name": "IA SDR",
                  "value": "IA SDR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status de Qualificação",
              "displayName": "Status de Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Recepção",
                  "value": "Recepção"
                },
                {
                  "name": "Qualificando",
                  "value": "Qualificando"
                },
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Encaminhado para Atendimento",
                  "value": "Encaminhado para Atendimento"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Última Mensagem",
              "displayName": "Última Mensagem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima mensagem IA",
              "displayName": "ultima mensagem IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Servico Desejado",
              "displayName": "Servico Desejado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Foto do Lead",
              "displayName": "Foto do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data de Criação",
              "displayName": "Data de Criação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Novo",
                  "value": "Novo"
                },
                {
                  "name": "Prioritário",
                  "value": "Prioritário"
                },
                {
                  "name": "Recontatar",
                  "value": "Recontatar"
                },
                {
                  "name": "Sem Resposta",
                  "value": "Sem Resposta"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Motivo de Não Qualificação",
              "displayName": "Motivo de Não Qualificação",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Atribuição do Lead",
              "displayName": "Atribuição do Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualificado",
                  "value": "Qualificado"
                },
                {
                  "name": "Não Qualificado",
                  "value": "Não Qualificado"
                },
                {
                  "name": "Em Qualificação",
                  "value": "Em Qualificação"
                },
                {
                  "name": "Pendente de FollowUp",
                  "value": "Pendente de FollowUp"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2768,
        3248
      ],
      "id": "9e51e09b-8b2a-4417-b11c-63c0f3dcfa9d",
      "name": "Cria lead FH",
      "credentials": {
        "airtableTokenApi": {
          "id": "OReJeI9FJMV3Dk17",
          "name": "Airtable - Sales"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('dados_atendimento_humano').item.json.instance.server_url }}/message/sendText/{{ $('dados_atendimento_humano').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('dados_atendimento_humano').item.json.instance.apikey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('variaveis_agente').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "=Olá! Agradecemos o seu contato.\nNosso horário de atendimento é de segunda a sexta, das 06h00 às 18h00.\n\nNo momento estamos fora do horário comercial, mas não se preocupe:\n👉 Retornaremos a sua mensagem no próximo dia útil.\n\nAgradecemos pela compreensão e em breve falaremos com você!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2624,
        3248
      ],
      "id": "3bdafca7-39e1-480c-b3f1-46487498a7c4",
      "name": "HTTP Request5",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_sdrLincoln"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2448,
        3104
      ],
      "id": "c11e5c28-eac8-4f57-b64c-21092e048c10",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_sdrLincoln",
        "messageData": "={{ $('variaveis_agente').item.json.message }}",
        "tail": true
      },
      "id": "bc996f82-3824-4fe2-b535-f27081c3e732",
      "name": "Text Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1568,
        2768
      ],
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_sdrLincoln",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "bde3af2e-f8ff-42b2-b9d7-8a97db616047",
      "name": "Audio Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1312,
        3056
      ],
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f336a1ff-e577-489d-a739-1eb8bd509245",
              "name": "Redis2",
              "value": "={{ $json.propertyName }}",
              "type": "string"
            },
            {
              "id": "946d1420-e379-46e3-8fcd-3816340fbabb",
              "name": "Redis1",
              "value": "={{ $('Get Memory 1').item.json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "01cf7ecd-bf63-4e14-865c-97660a25b6dd",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        2976
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_sdrLincoln",
        "options": {}
      },
      "id": "44dc01fd-2809-4c38-9bb0-b3e4594cdc53",
      "name": "Get Memory 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -992,
        3056
      ],
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('dados_atendimento_humano').item.json.message.remote_jid }}_sdrLincoln",
        "options": {}
      },
      "id": "71f17eff-5f77-4597-820b-5c4a970540fe",
      "name": "Get Memory 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        3072
      ],
      "credentials": {
        "redis": {
          "id": "XBsjAmqlqmGj4VFK",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "97b5658a-9dd2-47d7-9918-053834110f36",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1600,
        3072
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $json.data.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "82ffbea0-1d10-4c94-b893-bf84a9355a7e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        3088
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "4ffee759-20c8-4a0c-bb14-a52444950041",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1456,
        3056
      ],
      "credentials": {
        "openAiApi": {
          "id": "PUUNe2PUm40dw8uf",
          "name": "Audio Transcribe - SalesLand"
        }
      }
    },
    {
      "parameters": {
        "amount": 25
      },
      "id": "85fc8c8e-78f3-441c-a458-1973feb460ca",
      "name": "Espera para responder",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -784,
        3088
      ],
      "webhookId": "9162d5f5-e5bd-4d2a-9499-c69ba0ada76b"
    },
    {
      "parameters": {
        "content": "TEMPO DE ESPERRA",
        "height": 192,
        "width": 198,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        3024
      ],
      "typeVersion": 1,
      "id": "11cd5373-807e-4130-a758-c86267c4f2f3",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $json.Redis2 }}",
              "rightValue": "={{ $json.Redis1 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55b7eaf0-0ff7-43a7-8351-4a1c0429099b",
      "name": "Compara Get Memory1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        2928
      ]
    },
    {
      "parameters": {
        "jsCode": "const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"
      },
      "id": "32d62da1-3626-4bbe-8b5f-cbc9b2f5a2ba",
      "name": "Mensagem Completa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        2848
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('webhook_wpp').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('webhook_wpp').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('webhook_wpp').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('webhook_wpp').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "44e7f620-4717-4470-a9a2-a07bf97cf83c",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2032,
        3040
      ]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('webhook_wpp').item.json.body.instance }}",
        "messageId": "={{ $('webhook_wpp').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1872,
        3184
      ],
      "id": "c62e7a9c-7ff6-44a8-873d-2a4f6e35644d",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "dDMuRbbD4rTNnMJa",
          "name": "Evolution - Ives"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fora do horário?": {
      "main": [
        [
          {
            "node": "Cria lead FH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch Block1": {
      "main": [
        [
          {
            "node": "variaveis_agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica remetende1": {
      "main": [
        [
          {
            "node": "PARAR BF CONVERT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INICIAR ATENDIMENTO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INICIAR ATENDIMENTO1": {
      "main": [
        [
          {
            "node": "Switch Block1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Verifica remetende1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fora do horário?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria lead1": {
      "main": [
        [
          {
            "node": "Delete a Key from Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record4": {
      "main": [
        [
          {
            "node": "Cria lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_atendimento_humano": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_agente": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Update record4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "webhook_wpp": {
      "main": [
        [
          {
            "node": "dados_atendimento_humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria lead": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria lead FH": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 1": {
      "main": [
        [
          {
            "node": "Espera para responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Audio Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera para responder": {
      "main": [
        [
          {
            "node": "Get Memory 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Get Memory1": {
      "main": [
        [
          {
            "node": "Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Compara Get Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Completa": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "848634cc-e9cb-4fe9-9d72-922ff4a64a16",
  "meta": {
    "instanceId": "803c0ca4e7f9d14e44d80db31eb5701b5da3d5bfde7c4bfbf79bcd0d279a9f40"
  },
  "id": "xgB4NIOdnEBzYLdE",
  "tags": []
}